[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git

[submodule "main/libs/AsyncTCP"]
	path = main/libs/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git

[submodule "main/libs/AsyncElegantOTA"]
	path = main/libs/AsyncElegantOTA
	url = https://github.com/ayushsharma82/AsyncElegantOTA.git

[submodule "main/libs/pubsubclient"]
	path = main/libs/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "main/libs/Adafruit-Fingerprint-Sensor-Library"]
	path = main/libs/Adafruit-Fingerprint-Sensor-Library
	url = https://github.com/adafruit/Adafruit-Fingerprint-Sensor-Library.git
[submodule "main/libs/arduino-crypto"]
	path = main/libs/arduino-crypto
	url = https://github.com/intrbiz/arduino-crypto.git
